RaspberryPi/RaspberryPi.xcodeproj/project.xcworkspace/xcuserdata/naveedzanoon1.xcuserdatad/UserInterfaceState.xcuserstate
RaspberryPi/RaspberryPi.xcodeproj/xcuserdata/naveedzanoon1.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RaspberryPi/RaspberryPi.xcodeproj/xcuserdata/naveedzanoon1.xcuserdatad/xcschemes/RaspberryPi.xcscheme
RaspberryPi/RaspberryPi.xcodeproj/xcuserdata/naveedzanoon1.xcuserdatad/xcschemes/xcschememanagement.plist
